div {
    width: 400px;
    height: 200px;
    background-color: red;
    margin: 20px auto;
    border: 10px dashed red;
    background-image: url("../img/IMG_20170207_113837_639.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mydiv {
    box-sizing: border-box;
}